{% if serviceLocationChannel.serviceHours %}
<h3>Palveluajat</h3>
<article data-type="kunta-api-service-location-component" data-component="servicehours" data-service-id="{{ serviceId }}" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/servicehours.twig' %}</article>
{% endif %}