{% if serviceLocationChannel.webPages %}
<h3>Verkkosivut</h3>
<article data-type="kunta-api-service-location-component" data-component="webpages" data-service-id="{{ serviceId }}" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/webpages.twig' %}</article>
{% endif %}