<h2>Perustiedot</h2>
{% include 'service-location-components/name-parent.twig' %}
{% include 'service-location-components/description-parent.twig' %}
<h2>Yhteystiedot</h2>
{% include 'service-location-components/email-parent.twig' %}
{% include 'service-location-components/fax-parent.twig' %}
{% include 'service-location-components/phone-parent.twig' %}
{% include 'service-location-components/phone-charge-info-parent.twig' %}
{% include 'service-location-components/addresses-parent.twig' %}
{% include 'service-location-components/webpages-parent.twig' %}
{% include 'service-location-components/servicehours-parent.twig' %}