{% include 'service-components/service-description-parent.twig' %}
{% include 'service-components/service-user-instructions-parent.twig' %}
{% include 'service-components/electronic-service-channels-parent.twig' %}
{% include 'service-components/phone-service-channels-parent.twig' %}
{% include 'service-components/service-location-service-channels-parent.twig' %}
{% include 'service-components/webpage-service-channels-parent.twig' %}
{% include 'service-components/printable-form-service-channels-parent.twig' %}

<aside class="kunta-api-aside">
  <a href="/">Etusivulle</a>
</aside>