<h4><a href="{{ printableFormChannel.channelUrls|localizedValue(lang) }}">{{ printableFormChannel.names|localizedValue(lang)|nl2br }}</a></h4>
<p>{{ printableFormChannel.descriptions|localizedValue(lang)|nl2br }}</p>
<p>{{ printableFormChannel.phoneNumbers|localizedValue(lang)|nl2br }}</p>