<h4><a href="{{ serviceLocationChannel.id|serviceLocationPath }}">{{ serviceLocationChannel.names|localizedValue(lang)|nl2br }}</a></h4>
<p>{{ serviceLocationChannel.descriptions|localizedValue(lang)|nl2br }}</p>