{% if webPageChannels %}
<h3>Verkkosivut</h3>
{% for webPageChannel in webPageChannels %}
  <article data-type="kunta-api-service-webpage-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ webPageChannel.serviceChannelId }}">
  {% include 'service-components/webpage-service-channel.twig' with webPageChannel only %}
  </article>
{% endfor %}  
{% endif %}